<div class="fsa-m-t--m fsa-level fsa-level--justify-between">
	<div class="fsa-level">
    <span class="fsa-text-size--3">Year: </span>
    <span>
      <select class="fsa-select fsa-field__item" id="UNIQUE-ID-year" aria-describedby="year-help"
        aria-required="true" name="UNIQUE-ID-year">
        <option value="x" selected>Select One</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
      </select>
    </span>
  </div>
	<div><span class="fsa-text-size--3">State: <strong><span class="fsa-text-allcaps">South Dakota (46)</span></strong></span></div>
	<div><span class="fsa-text-size--3">County: <strong><span class="fsa-text-allcaps">Codington (029)</span></strong></span></div>
  <div><button class="fsa-btn fsa-btn--secondary">Change Selection</button></div>
</div>