<div class="fsa-m-t--s">
  <div class="fsa-grid">

    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Crop Year: <strong>2020</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">State: <strong>South Dakota (46)</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">County: <strong>Codington (029)</strong></span>
    </div>

  </div>
</div>
<div class="fsa-m-t--s">
  <div class="fsa-grid">

    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Producer: <strong>STICKS RIVER FARM</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Commodity: <strong>963699666</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Class: <strong>12,123,432</strong></span>
    </div>

  </div>
</div>
<div class="fsa-m-t--s">
  <div class="fsa-grid">

    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Application Type: <strong>XYZABC</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Application Number: <strong>963699666</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Status: <strong>Draft</strong></span>
    </div>

  </div>
</div>