<nav>
  {{#if NAV_USER_COU }}
  <div class="fsa-nav-global">
    <div class="fsa-nav-global__bd">
      <ul class="fsa-nav-global__list" aria-label="Primary Navigation" id="primary-navigation">
        <!-- Menu Item 1 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV1_ACTIVE }}fsa-nav-global__link--active{{/if}}"
            {{#if NAV1_ACTIVE }}href="/index_ext_"{{else}}href="index-producer-selection_ext_"{{/if}}
            aria-current="page">
            <span class="fsa-nav-global__text">Home</span>
          </a>
        </li>
        <!-- Menu Item 2 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV2_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="#">
            <span class="fsa-nav-global__text">Producer</span>
          </a>
        </li>
        
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV3_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="#">
            <span class="fsa-nav-global__text">County</span>
          </a>
        </li>

        <li class="fsa-nav-global__list-item">

          <button class="fsa-nav-global__link {{#if NAV5_ACTIVE }}fsa-nav-global__link--active{{/if}} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-593945">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123456789">Reports</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-593945" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-123456789">
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report One</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report Two</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report Three</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report Four</a>
                </li>
              </ul>
            </div>

          </div>

        </li>


        <li class="fsa-nav-global__list-item fsa-nav-global__list-item--multi-column">

          <button class="fsa-nav-global__link fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-uyysh3q00">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-sancs045">* DEMO *</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-uyysh3q00" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd" aria-labelledby="UNIQUE-ID-sancs045">

              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-ERTSScSS6">County Office - User</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-ERTSScSS6">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/index_ext_">Dashboard</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/farm-stored_ext_">Farm Stored</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/sold-fed-del_ext_">Sold/Fed/Delivered</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/warehouse-stored_ext_">Warehouse Stored</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/open-storage_ext_">Open Storage</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/imli_ext_">Irrevocable Module Lock-In</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/gin-direct_ext_">Gin-Direct</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/ipg_ext_">Irrevocable Post-Ginning</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/lbic_ext_">Lost Beneficial Interest-Cotton</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/wool-mohair_ext_">Wool and Mohair</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/unshorn-pelts_ext_">Unshorn Pelts</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/app-type/graze-out_ext_">Graze-Out</a></li>
                </ul>
              </div>
              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-ERTSScSS6">Producer - User</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-ERTSScSS6">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/producer/index_ext_">Dashboard</a></li>
                </ul>
              </div>
              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-WWTSScOI6">Jump to</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-WWTSScOI6">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="/county-office/applications/producer-terms_ext_">Producer Terms</a></li>
                </ul>
              </div>
              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-ERTSS30I6">Unused</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-ERTSS30I6">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="link_ext_">Overview</a></li>
                </ul>
              </div>

            </div>

          </div>

        </li>

       
      </ul>
    </div>
  </div>
  {{/if}}
  {{#if NAV_USER_PU }}
  <div class="fsa-nav-global">
    <div class="fsa-nav-global__bd">
      <ul class="fsa-nav-global__list" aria-label="Primary Navigation" id="primary-navigation">
        <!-- Menu Item 1 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV1_ACTIVE }}fsa-nav-global__link--active{{/if}}"
            {{#if NAV1_ACTIVE }}href="index_ext_"{{else}}href="index-producer-selection_ext_"{{/if}}
            aria-current="page">
            <span class="fsa-nav-global__text">Home</span>
          </a>
        </li>
        <!-- Menu Item 2 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV2_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="#">
            <span class="fsa-nav-global__text">Producer</span>
          </a>
        </li>
       
      </ul>
    </div>
  </div>
  {{/if}}
</nav>
