
<nav aria-label="Breadcrumbs">
  <div class="fsa-stepped-tabs fsa-stepped-tabs--justified">
    <div class="fsa-stepped-tabs__bd">
      <ol class="fsa-stepped-tabs__list">
        
        {{#if STEP1}}
        <li class="fsa-stepped-tabs__item">
          <a href="select-producer_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Commodity</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Application Type</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Quantity</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Summary</span>
          </span>
        </li>
        {{/if}}
        
        {{#if STEP2}}
        <li class="fsa-stepped-tabs__item">
          <a href="select-producer_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">Commodity</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Application Type</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Quantity</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Summary</span>
          </span>
        </li>
        {{/if}}
        
        {{#if STEP3}}
        <li class="fsa-stepped-tabs__item">
          <a href="select-producer_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-commodity_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Commodity</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">Application Type</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Quantity</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Summary</span>
          </span>
        </li>
        {{/if}}

        {{#if STEP4}}
				<li class="fsa-stepped-tabs__item">
          <a href="select-producer_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-commodity_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Commodity</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-Application Type_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Application Type</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">Quantity</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Summary</span>
          </span>
        </li>
        {{/if}}

        {{#if STEP5}}
				<li class="fsa-stepped-tabs__item">
          <a href="select-producer_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-commodity_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Commodity</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-Application Type_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Application Type</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-Quantity_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Quantity</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
					<span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete"></span>
            <span class="fsa-stepped-tabs__text">Summary</span>
          </span>
        </li>
        {{/if}}

				{{#if STEP6}}
				<li class="fsa-stepped-tabs__item">
          <a href="select-producer_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-commodity_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Commodity</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-Application Type_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Application Type</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="select-Quantity_ext_" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Quantity</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active"  aria-current="true">
            <span class="fsa-stepped-tabs__text">Summary</span>
          </a>
        </li>
        {{/if}}


      </ol>
    </div>
  </div>
</nav>
