{{#> ../layouts/base TITLE='LDP - Applications' NAV_USER_COU=true NAV2_ACTIVE=true BASE_ROOT='../../' }}

{{#*inline "main-block"}}

<div class="fsa-section">
	<div class="fsa-section__bd">

		<h1>Applications</h1>

		{{> ../includes/application-data
			PRODUCER_NAME=''
			COMMODITY=''
			COMMODITY_CLASS=''
			APP_NUMBER=''
			APP_STATUS=''
			APP_TYPE=''
		}}

		<table class="fsa-table fsa-table--borderless">
			<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
			<thead>
				<tr>
					<th scope="col">Select</th>
					<th scope="col"><button class="fsa-table__sort" type="button">Producer</button></th>
					<th scope="col" class="fsa-text-align--right">Commodity</th>
					<th scope="col" class="fsa-text-align--right">LDP Number</button></th>
					<th scope="col" class="fsa-text-align--right">LDP Type</button></th>
					<th scope="col" class="fsa-text-align--right"><button class="fsa-table__sort" type="button">Date</button>
					<th scope="col" class="fsa-text-align--right">Status</button></th>
					<th scope="col" class="fsa-text-align--right">Qty</button></th>
					<th scope="col" class="fsa-text-align--right">Amount</button></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span>
							<input onclick="setProducer('DAVID D DAVISON')" class="fsa-radio" id="r1" type="radio" name="group1" value="1">
							<label for="r1"></label>
						</span>
					</td>
					<td class="fsa-text-align--right">DAVID D DAVISON</td>
					<td class="fsa-text-align--right">Corn</td>
					<td class="fsa-text-align--right">96593939</td>
					<td class="fsa-text-align--right">Sold/Fed/Delivered</td>
					<td class="fsa-text-align--right">05/01/2020</td>
					<td class="fsa-text-align--right">DISBURSED</td>
					<td class="fsa-text-align--right">223 BU</td>
					<td class="fsa-text-align--right">$432.78</td>
				</tr>
				<tr>
					<td>
						<span>
							<input onclick="setProducer('STICKS RIVER FARM')" class="fsa-radio" id="r2" type="radio" name="group1" value="2">
							<label for="r2"></label>
						</span>
					</td>
					<td class="fsa-text-align--right">STICKS RIVER FARM</td>
					<td class="fsa-text-align--right">Flax</td>
					<td class="fsa-text-align--right">8937422</td>
					<td class="fsa-text-align--right">Sold/Fed/Delivered</td>
					<td class="fsa-text-align--right">8/15/2020</td>
					<td class="fsa-text-align--right">DISBURSED</td>
					<td class="fsa-text-align--right">487 BU</td>
					<td class="fsa-text-align--right">$1,290.45</td>
				</tr>
			</tbody>
		</table>

		<div class="fsa-m-t--m">
			<button onclick="Router.to('../index-producer-selected_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				Back
			</button>
			<button onclick="Router.to('select-producer_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				Select Application
			</button>
			<button disabled="disabled" onclick="Router.to('new-application_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				New Application
			</button>
		</div>


	</div>
</div>


{{/inline}}

{{#*inline "scripts-block"}}
<!-- page-level scripts -->
<script>
	function setProducer(data){
		Store.actions.setProducerName(data);
	}
</script>
<!-- /page-level scripts -->
{{/inline}}


{{/../layouts/base }}