{{#> ../layouts/base TITLE='LDP - Applications' NAV_USER_COU=true NAV2_ACTIVE=true BASE_ROOT='../../' }}

{{#*inline "main-block"}}

<div class="fsa-section">
	<div class="fsa-section__bd">

		{{> ../components/stepped-tabs/stepped-tabs-application-cou STEP1=true }}

		<h1>Select Producer</h1>

		{{> ../includes/application-data
			PRODUCER_NAME=''
			COMMODITY=''
			COMMODITY_CLASS=''
			APP_NUMBER=''
			APP_STATUS=''
			APP_TYPE=''
		}}

		<table class="fsa-table fsa-table--borderless">
			<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
			<thead>
				<tr>
					<th scope="col" class="fsa-text-align--right"><button class="fsa-table__sort fsa-table__sort--descending"
							type="button">Producer</button>
					</th>
					<th scope="col" class="fsa-text-align--right">Share Percentage</th>
					<th scope="col" class="fsa-text-align--right">Primary Contact</button></th>
					<th scope="col" class="fsa-text-align--right">Agreement Status</button></th>
					<th scope="col" class="fsa-text-align--right">Actions</th>
					</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td class="fsa-text-align--right">LONNIE L LONESON</td>
					<td class="fsa-text-align--right">62.50%</td>
					<td class="fsa-text-align--right"><label class="fsa-label fsa-label--success">YES</label></td>
					<td class="fsa-text-align--right"><label class="fsa-label fsa-label--success">On File</label></td>
					<td class="fsa-table__cell fsa-text-align--right">
						<button role="button" type="button" aria-behavior="modal-show" data-behavior="open-modal"
							aria-controls="modal__producer-edit-producer" aria-expanded="false"
							class="fsa-btn fsa-btn--secondary fsa-btn--small">
							Edit
						</button>
					</td>
				</tr>
				<tr>
					<td class="fsa-text-align--right">STICKS RIVER DAIRY</td>
					<td class="fsa-text-align--right">37.50%</td>
					<td class="fsa-text-align--right"><label class="fsa-label fsa-label--alert">NO</label></td>
					<td class="fsa-text-align--right"><label class="fsa-label fsa-label--alert">Not On File</label></td>
					<td class="fsa-table__cell fsa-text-align--right">
						<button role="button" type="button" aria-behavior="modal-show" data-behavior="open-modal"
							aria-controls="modal__producer-agreement" aria-expanded="false"
							class="fsa-btn fsa-btn--secondary fsa-btn--small">
							File Agreement
						</button>
						<button role="button" type="button" aria-behavior="modal-show" data-behavior="open-modal"
							aria-controls="modal__producer-edit-producer" aria-expanded="false"
							class="fsa-btn fsa-btn--secondary fsa-btn--small">
							Edit
						</button>
					</td>
				</tr>

				<tr>
					<td colspan="2">
						<button role="button" type="button" aria-behavior="modal-show" data-behavior="open-modal"
							aria-controls="modal__producer-add-producer" aria-expanded="false"
							class="fsa-btn fsa-btn--secondary fsa-btn--small">
							Add Producer
						</button>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td class="fsa-text-align--right">TOTAL SHARES: <strong>100%</strong></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>


		{{> ../components/stepped-control/stepped-control-application-cou
          CURRENT_STEP="1"
          TOTAL_STEPS="8"
          BACK_URL=""
          BACK_LABEL="Back"
          CONTINUE_LABEL="Continue"
          USE_GROWL_ON_CANCEL=true  
          GROWL_ID="growl__cancel-application"      
        }}


	</div>
</div>


{{/inline}}

{{#*inline "hidden-block"}}
<!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
{{> ../components/growl/growl-cancel-application GROWL_ID="growl__cancel-application" BASE_ROOT="../../" }}
{{> ../components/modal/modal-edit-producer BASE_ROOT="../../" }}
{{> ../components/modal/modal-edit-producer-agreement BASE_ROOT="../../" }}
{{> ../components/modal/modal-add-producer BASE_ROOT="../../" }}
<!-- /HIDDEN -->
{{/inline}}

{{#*inline "scripts-block"}}
<script>
	window.addEventListener("load", (evt) => {
		setNextPage('producer-terms_ext_')
	})

	function setProducer(producer){
		//Store.actions.setProducerName(producer)
	}
</script>
{{/inline}}


{{/../layouts/base }}