{{#> ../layouts/base TITLE='LDP - Application - Commodity' NAV_USER_COU=true NAV2_ACTIVE=true BASE_ROOT='../../' }}

{{#*inline "main-block"}}

<div class="fsa-section">
	<div class="fsa-section__bd">

		{{> ../components/stepped-tabs/stepped-tabs-application-cou STEP2=true }}

		<h1>Select Commodity</h1>

		{{> ../includes/application-data
			PRODUCER_NAME=''
			COMMODITY=''
			COMMODITY_CLASS=''
			APP_NUMBER=''
			APP_STATUS=''
			APP_TYPE=''
			REF_INFO=''
		}}

		<div class="fsa-divider fsa-m-b--s"></div>

		<div class="fsa-m-t--m">
			<span class="fsa-m-r--l fsa-text-size--4">Commodity Name: </span>
			<span>
				<div class="fsa-field">

					<select onchange="setCommodity(this.value)" class="fsa-select fsa-field__item" id="UNIQUE-ID-commodity" aria-describedby="percentage-help"
						aria-required="true" name="UNIQUE-ID-commodity">
						<option value="x" selected>Select One</option>
					</select>
				</div>
			</span>
		</div>

		<div class="fsa-m-t--s">
			<span class="fsa-m-r--l fsa-text-size--4">Commodity Class: </span>
			<span>
				<div class="fsa-field">

					<select onchange="setClass(this.value)" disabled class="fsa-select fsa-field__item" id="UNIQUE-ID-class" aria-describedby="percentage-help"
						aria-required="true" name="UNIQUE-ID-class">
						<option value="x" selected>Select One</option>
					</select>
				</div>
			</span>
		</div>

		<div class="fsa-m-t--s">
			<div class="fsa-field">
				<label class="fsa-field__label" for="UNIQUE-ID-REF-INFO">Reference Information: </label>
				<input onchange="setRef(this.value)" class="fsa-input fsa-field__item" id="UNIQUE-ID-REF-INFO" aria-describedby="UNIQUE-ID-REF-INFO-help" aria-required="true" name="UNIQUE-ID-REF-INFO" type="text" value="">
			</div>
		</div>

	</div>
</div>


<div class="fsa-section">
	<div class="fsa-section__bd">

		{{> ../components/stepped-control/stepped-control-application-cou
          CURRENT_STEP="4"
          TOTAL_STEPS="8"
          BACK_URL=""
          BACK_LABEL="Back"
          DISABLED=true
          CONTINUE_LABEL="Continue"
          USE_GROWL_ON_CANCEL=true  
          GROWL_ID="growl__cancel-application"      
        }}

	</div>
</div>


{{/inline}}

{{#*inline "hidden-block"}}
<!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
{{> ../components/growl/growl-cancel-application GROWL_ID="growl__cancel-application" BASE_ROOT="../../" }}
<!-- /HIDDEN -->
{{/inline}}

{{#*inline "scripts-block"}}
<!-- page-level scripts -->
<script>
	let commodityList = [];
	let classList = [];
	let commoditySelect = document.getElementById('UNIQUE-ID-commodity');

	window.addEventListener('load', (evt) => {

		let crops = Store.actions.getCrops().then( (res) => {
			commodityList = JSON.parse( Store.getters.crops() );
			commodityList.forEach( (data) => {
				commoditySelect.options.add( new Option(data.commodityName, data.commodityName) )
			})
		});
		
	});

	function setAppTypes(commName){
		let commodity = commodityList.filter( (data) => data.commodityName == commName )
		console.log('setAppTypes', commodity[0].appTypes)
		Store.actions.setAppTypes(commodity[0].appTypes)
	}

	function setCommodity(commodity){

		disableButton('sc-continue')
		Store.actions.setCommodity(commodity);
		setAppTypes(commodity)
		
		let classSelect = document.getElementById('UNIQUE-ID-class');
		classSelect.innerHTML = '';

		if(commodity == 'x'){
			classSelect.disabled = true;
		} else {
			
			classSelect.options.add( new Option('Select One', 'x') )

			commodityList.forEach( obj => {
				if( obj.commodityName == commodity) classList = obj.commodityClasses;
			})
			
			console.log('classList', classList )

			classList.forEach( (data) => {
				classSelect.options.add( new Option(data, data) )
			})

			classSelect.disabled = false;
		}
	}

	function setClass(comClass){
		if(comClass != 'x'){
			Store.actions.setCommodityClass(comClass)
			let page = document.getElementById('UNIQUE-ID-commodity').value
			
			setNextPage('select-app-type_ext_')
			enableButton('sc-continue')
		}
	}

	function setRef(data){
		Store.actions.setRefInfo(data)
	}

</script>

<!-- /page-level scripts -->
{{/inline}}


{{/../layouts/base }}