<div class="fsa-growl-container fsa-growl-container--centered">
	<div class="fsa-growl fsa-growl--warning fsa-growl--centered" id="growl__cancel-new-contract" aria-hidden="true" tabindex="0" role="dialog">
		<div class="fsa-growl__hd">
			<button class="fsa-growl__close" data-behavior="growl-dismiss whiteout-dismiss" type="button"><img class="fsa-growl__close-icon" src="{{BASE_ROOT}}img/close.svg" alt="close"></button>
			<h2 class="fsa-growl__title">Cancel New Contract</h2>
		</div>
		<div class="fsa-growl__bd">
			<p>Are you sure you would like to Cancel and Delete this new contract?</p>
			<p>
				<button data-behavior="growl-dismiss whiteout-dismiss" class="fsa-btn fsa-btn--small fsa-btn--primary" type="button">No, Continue</button>
				<a class="fsa-btn fsa-btn--small fsa-btn--secondary" href="index_ext_">Yes, Cancel</a>
			</p>
		</div>
	</div>
</div>