<div class="fsa-field">
	<label class="fsa-field__label" for="{{ SELECT_ID }}">County <span class="fsa-field__label-desc">Required</span></label>
	<select class="fsa-select fsa-field__item fsa-select--block" id="{{ SELECT_ID }}" aria-describedby="{{ HELP_ID }}" aria-required="true" name="{{ SELECT_ID }}">
		<option value="">Select County</option>
		{{#if STATE_CA}}
		<option value="043">Mariposa (A)</option>
		<option value="047">Merced (A)</option>
		<option value="001">Alameda</option>
		<option value="003">Alpine</option>
		<option value="005">Amador</option>
		<option value="007">Butte</option>
		<option value="009">Calaveras</option>
		<option value="011">Colusa</option>
		<option value="013">Contra Costa</option>
		<option value="015">Del Norte</option>
		<option value="017">El Dorado</option>
		<option value="019">Fresno</option>
		<option value="021">Glenn</option>
		<option value="023">Humboldt</option>
		<option value="025">Imperial</option>
		<option value="027">Inyo</option>
		<option value="029">Kern</option>
		<option value="031">Kings</option>
		<option value="033">Lake</option>
		<option value="035">Lassen</option>
		<option value="037">Los Angeles</option>
		<option value="039">Madera</option>
		<option value="041">Marin</option>
		<option value="045">Mendocino</option>
		<option value="049">Modoc</option>
		<option value="051">Mono</option>
		<option value="053">Monterey</option>
		<option value="055">Napa</option>
		<option value="057">Nevada</option>
		<option value="059">Orange</option>
		<option value="061">Placer</option>
		<option value="063">Plumas</option>
		<option value="065">Riverside</option>
		<option value="067">Sacramento</option>
		<option value="069">San Benito</option>
		<option value="071">San Bernardino</option>
		<option value="073">San Diego</option>
		<option value="077">San Joaquin</option>
		<option value="079">San Luis Obispo</option>
		<option value="081">San Mateo</option>
		<option value="083">Santa Barbara</option>
		<option value="085">Santa Clara</option>
		<option value="087">Santa Cruz</option>
		<option value="089">Shasta</option>
		<option value="091">Sierra</option>
		<option value="093">Siskiyou</option>
		<option value="095">Solano</option>
		<option value="097">Sonoma</option>
		<option value="099">Stanislaus</option>
		<option value="101">Sutter</option>
		<option value="103">Tehama</option>
		<option value="105">Trinity</option>
		<option value="107">Tulare</option>
		<option value="109">Tuolumne</option>
		<option value="111">Ventura</option>
		<option value="113">Yolo</option>
		<option value="115">Yuba</option>
		{{/if}}
		{{#if STATE_SD}}
		<option value="115">Spink (A)</option>
		<option value="003">Aurora</option>
		<option value="005">Beadle</option>
		<option value="007">Bennett</option>
		<option value="009">Bon Homme</option>
		<option value="011">Brookings</option>
		<option value="013">Brown</option>
		<option value="015">Brule</option>
		<option value="017">Buffalo</option>
		<option value="019">Butte</option>
		<option value="021">Campbell</option>
		<option value="023">Charles Mix</option>
		<option value="025">Clark</option>
		<option value="027">Clay</option>
		<option value="029">Codington</option>
		<option value="031">Corson</option>
		<option value="033">Custer</option>
		<option value="035">Davison</option>
		<option value="037">Day</option>
		<option value="039">Deuel</option>
		<option value="041">Dewey</option>
		<option value="043">Douglas</option>
		<option value="045">Edmunds</option>
		<option value="047">Fall River</option>
		<option value="049">Faulk</option>
		<option value="051">Grant</option>
		<option value="053">Gregory</option>
		<option value="055">Haakon</option>
		<option value="057">Hamlin</option>
		<option value="059">Hand</option>
		<option value="061">Hanson</option>
		<option value="063">Harding</option>
		<option value="065">Hughes</option>
		<option value="067">Hutchinson</option>
		<option value="069">Hyde</option>
		<option value="071">Jackson</option>
		<option value="073">Jerauld</option>
		<option value="075">Jones</option>
		<option value="077">Kingsbury</option>
		<option value="079">Lake</option>
		<option value="081">Lawrence</option>
		<option value="083">Lincoln</option>
		<option value="085">Lyman</option>
		<option value="091">Marshall</option>
		<option value="087">McCook</option>
		<option value="089">McPherson</option>
		<option value="093">Meade</option>
		<option value="095">Mellette</option>
		<option value="097">Miner</option>
		<option value="099">Minnehaha</option>
		<option value="101">Moody</option>
		<option value="113">Oglala Lakota</option>
		<option value="103">Pennington</option>
		<option value="105">Perkins</option>
		<option value="107">Potter</option>
		<option value="109">Roberts</option>
		<option value="111">Sanborn</option>
		<option value="117">Stanley</option>
		<option value="119">Sully</option>
		<option value="121">Todd</option>
		<option value="123">Tripp</option>
		<option value="125">Turner</option>
		<option value="127">Union</option>
		<option value="129">Walworth</option>
		<option value="135">Yankton</option>
		<option value="137">Ziebach</option>
		{{/if}}		
	</select>
	<!--<span class="fsa-field__help" id="UNIQUE-ID-select-program-year-help">Instructional message here</span>-->
</div>