{{#> ../layouts/base TITLE='LDP - Home' NAV1_ACTIVE=true }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">
        
        <h1>LDP Prototype Start</h1>

          

          <p class="fsa-text--lead">
            BEGIN PROCESS FLOW BY SELECTING USER BELOW
          </p>
          
					<div class="fsa-m-t--l">

						<button onclick="doNext('cou')" class="fsa-btn fsa-btn--secondary" type="button">
						  County Office User
						</button>

						<button disabled="disabled" onclick="doNext('producer')" class="fsa-btn fsa-btn--secondary" type="button">
						  Producer
						</button>

					</div>

			</div>
		</div>


  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../includes/hidden BASE_ROOT="" }}
    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "scripts-block"}}
  <script>
    window.addEventListener("load", (evt) => {
      // clear Storage
      Store.actions.deleteAllData();
    });
    function doNext(uf){
      Store.actions.setUserFlow(uf)
      if(uf == 'cou'){
        //Store.actions.setPrimaryContact('Sticks River Farms');
        Router.to('county-office/index_ext_');
      } else if(uf == 'producer'){
        Store.actions.setPrimaryContact('Lonnie D Lonesome');
        Router.to('producer/index_ext_');
      }
    }
  </script>
  {{/inline}}


{{/../layouts/base }}
