<div>
  <div tabindex="0" id="modal__producer-agreement" class="fsa-modal fsa-modal--top" role="dialog" aria-hidden="true">
    <div class="fsa-modal__dialog">
      <div class="fsa-modal__content">
        <button class="fsa-modal__close" data-behavior="close-modal" aria-controls="modal__remittance-collection-history"><img class="fsa-modal__close-icon" src="{{BASE_ROOT}}img/close.svg" alt="close"></button>
          <h1 class="fsa-modal__title">LDP Agreement Acceptance</h1>
          
          <div class="fsa-m-t--s">
            <div class="fsa-m-b--m fsa-m-t--l">
							<span class="fsa-text-size--3">Producer: <strong>LONNIE L LONESON</strong></span> 
						</div>

            <div class="fsa-grid">
              <div class="fsa-grid__1/2">

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-1">Producer Signature <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-1" aria-describedby="UNIQUE-ID-1-help" aria-required="true" name="UNIQUE-ID-1" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-2">Producer Title/Relationship <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-2" aria-describedby="UNIQUE-ID-2-help" aria-required="true" name="UNIQUE-ID-2" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-3">Signature Date <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-3" placeholder="MM/DD/YYYY" aria-describedby="UNIQUE-ID-3-help" aria-required="true" name="UNIQUE-ID-3" type="text" value="">
                </div>

              </div>
              
              <div class="fsa-grid__1/2">

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-4">CCC Representative <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-4" aria-describedby="UNIQUE-ID-4-help" aria-required="true" name="UNIQUE-ID-4" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-5">CCC Representative Title <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-5" aria-describedby="UNIQUE-ID-5-help" aria-required="true" name="UNIQUE-ID-5" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-6">Signature Date <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-6" placeholder="MM/DD/YYYY" aria-describedby="UNIQUE-ID-6-help" aria-required="true" name="UNIQUE-ID-6" type="text" value="">
                </div>
              </div>
            </div>

            <div class="fsa-m-t--m">
              <div class="fsa-field">
                <label class="fsa-field__label" for="UNIQUE-ID-88s8SUGg">Additional Information </label>
                <textarea class="fsa-textarea fsa-field__item" placeholder="" id="UNIQUE-ID-88s8SUGg" aria-describedby="lorem-88s8SUGg-help-4" aria-required="true" name="UNIQUE-ID-88s8SUGg"></textarea>
                <span class="fsa-field__help" id="lorem-88s8SUGg-help-4">Instructional message here</span>
              </div>
            </div>

						

            <div class="fsa-m-t--l">
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">Print &amp; Continue</button>
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">Save &amp; Continue</button>     
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">Cancel</button>
            </div>

          </div>

      </div>
    </div>
  </div>

</div>
