<div>
  <div tabindex="0" id="modal__review-certify" class="fsa-modal fsa-modal--top" role="dialog" aria-hidden="true">
    <div class="fsa-modal__dialog">
      <div class="fsa-modal__content">
        <button class="fsa-modal__close" data-behavior="close-modal" aria-controls="modal__remittance-collection-history"><img class="fsa-modal__close-icon" src="{{BASE_ROOT}}img/close.svg" alt="close"></button>
          <h1 class="fsa-modal__title">Second Party Review Certification</h1>
          
          <div class="fsa-m-t--s">

            <div class="fsa-field">
              <label class="fsa-field__label" for="UNIQUE-ID-4">COC Representative <span class="fsa-field__label-desc">Required</span></label>
              <input class="fsa-input fsa-field__item" id="UNIQUE-ID-4" aria-describedby="UNIQUE-ID-4-help" aria-required="true" name="UNIQUE-ID-4" type="text" value="">
            </div>

            <div class="fsa-field">
              <label class="fsa-field__label" for="UNIQUE-ID-5">COC Representative Title <span class="fsa-field__label-desc">Required</span></label>
              <input class="fsa-input fsa-field__item" id="UNIQUE-ID-5" aria-describedby="UNIQUE-ID-5-help" aria-required="true" name="UNIQUE-ID-5" type="text" value="">
            </div>

            <div class="fsa-field">
              <label class="fsa-field__label" for="UNIQUE-ID-6">Signature Date <span class="fsa-field__label-desc">Required</span></label>
              <input class="fsa-input fsa-field__item" id="UNIQUE-ID-6" placeholder="MM/DD/YYYY" aria-describedby="UNIQUE-ID-6-help" aria-required="true" name="UNIQUE-ID-6" type="text" value="">
            </div>


            <div class="fsa-m-t--l">
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--primary">Certify Review</button>
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--tertiary">Deny Certification</button>   
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">Cancel</button>
            </div>

          </div>

      </div>
    </div>
  </div>

</div>
