<div>
  <div tabindex="0" id="modal__producer-agreement" class="fsa-modal fsa-modal--top" role="dialog" aria-hidden="true">
    <div class="fsa-modal__dialog">
      <div class="fsa-modal__content">
        <button class="fsa-modal__close" data-behavior="close-modal" aria-controls="modal__remittance-collection-history"><img class="fsa-modal__close-icon" src="img/close.svg" alt="close"></button>
          <h1 class="fsa-modal__title">LDP Agreement Acceptance</h1>
          
          <div class="fsa-m-t--s">
            <div class="fsa-m-b--m fsa-m-t--l">
							<span class="fsa-text-size--3">Producer: <strong>LONNIE L LONESON</strong></span> 
						</div>

            <div class="fsa-grid">
              <div class="fsa-grid__1/2">

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-check-number">Producer Signature <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-check-number">Producer Title/Relationship <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-check-number">Signature Date <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" placeholder="MM/DD/YYYY" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
                </div>

              </div>
              
              <div class="fsa-grid__1/2">
              <!--
                <div class="fsa-m-t--m">
                  <p>
                    <span class="fsa-m-r--l fsa-text-size--4">Agreement on File?</span>
                    <span><label class="fsa-label fsa-label--alert">NO</label></span>
                  </p>
                  <p>
                    <span>
                      Currently, there is no Agreement on File. Please file an agreement by selecting the button below.
                    </span>
                  </p>
                  <p>
                    <span>
                      <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">File Agreement</button>
                    </span>
                  </p>
                </div>
                -->
                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-check-number">CCC Representative <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-check-number">CCC Representative Title <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
                </div>

                <div class="fsa-field">
                  <label class="fsa-field__label" for="UNIQUE-ID-check-number">Signature Date <span class="fsa-field__label-desc">Required</span></label>
                  <input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" placeholder="MM/DD/YYYY" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
                </div>
              </div>
            </div>

            <div class="fsa-m-t--m">
              <div class="fsa-field">
                <label class="fsa-field__label" for="UNIQUE-ID-88s8SUGg">Additional Information </label>
                <textarea class="fsa-textarea fsa-field__item" placeholder="" id="UNIQUE-ID-88s8SUGg" aria-describedby="lorem-88s8SUGg-help-4" aria-required="true" name="UNIQUE-ID-88s8SUGg"></textarea>
                <span class="fsa-field__help" id="lorem-88s8SUGg-help-4">Instructional message here</span>
              </div>
            </div>

						

            <div class="fsa-m-t--l">
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">Print &amp; Continue</button>
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">Save &amp; Continue</button>     
              <button role="button" data-behavior="close-modal" type="button" class="fsa-btn fsa-btn--secondary">Cancel</button>
            </div>

          </div>

      </div>
    </div>
  </div>

</div>
