{{#> ../layouts/base TITLE='LDP - County Dashboard' NAV_USER_COU=true NAV3_ACTIVE=true BASE_ROOT='../' }}

{{#*inline "main-block"}}

<div class="fsa-section">
	<div class="fsa-section__bd">

		<h1>County LDP Dashboard</h1>


    {{> ../includes/crop-state-county-selection	}}

    <div class="fsa-m-t--l fsa-content-tabs fsa-content-tabs--justified-equal">
    <!-- <div class="fsa-m-t--l fsa-content-tabs"> -->
      <ul class="fsa-content-tabs__list">
        <li class="fsa-content-tabs__item">
          <a role="button" onclick="showRow(this, 'draft'); return false;" class="fsa-content-tabs__label fsa-content-tabs__label--active" href="">
            <span class="fsa-content-tabs__label-text">Draft LDPs</span>
          </a>
        </li>
        <li class="fsa-content-tabs__item">
          <a role="button" onclick="showRow(this, 'pending-review'); return false;" class="fsa-content-tabs__label" aria-current="step" href="">
            <span class="fsa-content-tabs__label-text">Pending Review</span>
          </a>
        </li>
        <li class="fsa-content-tabs__item">
          <a role="button" onclick="showRow(this, 'pending-approval'); return false;" class="fsa-content-tabs__label" aria-current="step" href="">
            <span class="fsa-content-tabs__label-text">Pending Approval</span>
          </a>
        </li>
        <li class="fsa-content-tabs__item">
          <a role="button" onclick="showRow(this, 'disbursed'); return false;" class="fsa-content-tabs__label" aria-current="step" href="">
            <span class="fsa-content-tabs__label-text">Disbursed LDPs</span>
          </a>
        </li>
      </ul>
      <!--
      <div class="fsa-content-tabs__aside">
        <button onclick="Router.to('../cs-search_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
					Create New LDP
				</button>
      </div>
			-->
      
    </div>
		

		<table class="fsa-table fsa-table--borderless">
			<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
			<thead>
				<tr>
					<th scope="col"><button class="fsa-table__sort" type="button">LDP Number</button></th>
          <th scope="col" class="fsa-text-align--right">Primary Contact</th>					
					<th scope="col" class="fsa-text-align--right">Commodity</th>
					<th scope="col" class="fsa-text-align--right">LDP Type</th>
					<th scope="col" class="fsa-text-align--right">Date</th>
					<th scope="col" class="fsa-text-align--right">Status</th>
					<th scope="col" class="fsa-text-align--right">Qty</th>
					<th scope="col" class="fsa-text-align--right">Amount</th>
          <th scope="col" class="fsa-text-align--right">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ldp-status="disbursed">
					<td class="fsa-text-align--right">542943</td>
					<td class="fsa-text-align--right">SMITH, JOHN A</td>
					<td class="fsa-text-align--right">Corn</td>
					<td class="fsa-text-align--right">Sold/Fed/Delivered</td>
					<td class="fsa-text-align--right">05/01/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--success">DISBURSED</span></td>
					<td class="fsa-text-align--right">223 BU</td>
					<td class="fsa-text-align--right">$432.78</td>
          <td class="fsa-text-align--right"><button onclick="serviceLDP('542943','SMITH, JOHN A')" class="fsa-btn fsa-btn--secondary fsa-btn--small">View Details</button></td>
				</tr>
				<tr data-ldp-status="disbursed">
					<td class="fsa-text-align--right">567722</td>
					<td class="fsa-text-align--right">SUMMERS JAN, C</td>
					<td class="fsa-text-align--right">Chickpeas</td>
					<td class="fsa-text-align--right">Warehouse Stored</td>
					<td class="fsa-text-align--right">06/30/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--success">DISBURSED</span></td>
					<td class="fsa-text-align--right">493 BU</td>
					<td class="fsa-text-align--right">$289.60</td>
          <td class="fsa-text-align--right"><button onclick="serviceLDP('567722','SUMMERS JAN, C')" class="fsa-btn fsa-btn--secondary fsa-btn--small">View Details</button></td>
				</tr>
				<tr data-ldp-status="draft">
					<td class="fsa-text-align--right">593827</td>
					<td class="fsa-text-align--right">JEREMY T WILSON</td>
					<td class="fsa-text-align--right">Flax</td>
					<td class="fsa-text-align--right">Farm Stored</td>
					<td class="fsa-text-align--right">8/15/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--neutral">DRAFT</span></td>
					<td class="fsa-text-align--right">487 BU</td>
					<td class="fsa-text-align--right">$1,290.45</td>
          <td class="fsa-text-align--right"><button onclick="serviceLDP('593827','JEREMY T WILSON')" class="fsa-btn fsa-btn--secondary fsa-btn--small">Service LDP</button></td>
				</tr>
				<tr data-ldp-status="pending-review">
					<td class="fsa-text-align--right">553299</td>
					<td class="fsa-text-align--right">FRANKLIN FRANK, T</td>
					<td class="fsa-text-align--right">Oats</td>
					<td class="fsa-text-align--right">Sold/Fed/Delivered</td>
					<td class="fsa-text-align--right">02/15/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--warning">PENDING REVIEW</span></td>
					<td class="fsa-text-align--right">693,012 BU</td>
					<td class="fsa-text-align--right">$6,902.93</td>
          <td class="fsa-text-align--right"><button onclick="reviewLDP('553299','FRANKLIN FRANK, T')" class="fsa-btn fsa-btn--secondary fsa-btn--small">Review LDP</button></td>
				</tr>
				<tr data-ldp-status="pending-review">
					<td class="fsa-text-align--right">548392</td>
					<td class="fsa-text-align--right">ADAMS, BENJAMIN</td>
					<td class="fsa-text-align--right">Wheat</td>
					<td class="fsa-text-align--right">Farm Stored</td>
					<td class="fsa-text-align--right">06/05/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--warning">PENDING REVIEW</span></td>
					<td class="fsa-text-align--right">432,331 BU</td>
					<td class="fsa-text-align--right">$767.94</td>
          <td class="fsa-text-align--right"><button onclick="reviewLDP('548392','ADAMS, BENJAMIN')" class="fsa-btn fsa-btn--secondary fsa-btn--small">Review LDP</button></td>
				</tr>
				<tr data-ldp-status="pending-approval">
					<td class="fsa-text-align--right">559211</td>
					<td class="fsa-text-align--right">LONGMIRE, HOWARD D</td>
					<td class="fsa-text-align--right">Soybeans</td>
					<td class="fsa-text-align--right">Warehouse Stored</td>
					<td class="fsa-text-align--right">07/31/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--general">PENDING APPROVAL</span></td>
					<td class="fsa-text-align--right">432,331 BU</td>
					<td class="fsa-text-align--right">$767.94</td>
          <td class="fsa-text-align--right"><button onclick="serviceLDP('559211','LONGMIRE, HOWARD D')" class="fsa-btn fsa-btn--secondary fsa-btn--small">View Details</button></td>
				</tr>
				<tr data-ldp-status="pending-review">
					<td class="fsa-text-align--right">572991</td>
					<td class="fsa-text-align--right">JAYNES, WILLIAM T</td>
					<td class="fsa-text-align--right">Soybeans</td>
					<td class="fsa-text-align--right">Farm Stored</td>
					<td class="fsa-text-align--right">08/01/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--warning">PENDING REVIEW</span></td>
					<td class="fsa-text-align--right">60,234 BU</td>
					<td class="fsa-text-align--right">$309.88</td>
          <td class="fsa-text-align--right"><button onclick="reviewLDP('572991','JAYNES, WILLIAM T')" class="fsa-btn fsa-btn--secondary fsa-btn--small">Review LDP</button></td>
				</tr>
				<tr data-ldp-status="draft">
					<td class="fsa-text-align--right">561029</td>
					<td class="fsa-text-align--right">REYNOLDS, MALCOLM</td>
					<td class="fsa-text-align--right">Wheat</td>
					<td class="fsa-text-align--right">Farm Stored</td>
					<td class="fsa-text-align--right">08/15/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--neutral">DRAFT</span></td>
					<td class="fsa-text-align--right">9,432 BU</td>
					<td class="fsa-text-align--right">$43.56</td>
          <td class="fsa-text-align--right"><button onclick="serviceLDP('561029','REYNOLDS, MALCOLM')" class="fsa-btn fsa-btn--secondary fsa-btn--small">Service LDP</button></td>
				</tr>
				<tr data-ldp-status="pending-approval">
					<td class="fsa-text-align--right">580710</td>
					<td class="fsa-text-align--right">MCFEE MICHAEL, W</td>
					<td class="fsa-text-align--right">Flax</td>
					<td class="fsa-text-align--right">Farm Stored</td>
					<td class="fsa-text-align--right">11/01/2020</td>
					<td class="fsa-text-align--right"><span class="fsa-label fsa-label--general">PENDING APPROVAL</span></td>
					<td class="fsa-text-align--right">83,205 BU</td>
					<td class="fsa-text-align--right">$549.23</td>
          <td class="fsa-text-align--right"><button onclick="serviceLDP('580710','MCFEE MICHAEL, W')" class="fsa-btn fsa-btn--secondary fsa-btn--small">View Details</button></td>
				</tr>
			</tbody>
		</table>

		<div class="fsa-m-t--m">
			<button onclick="Router.to('../cs-search_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				Create New LDP
			</button>
		</div>


	</div>
</div>


{{/inline}}

{{#*inline "scripts-block"}}
<!-- page-level scripts -->
<script>

	window.addEventListener('load', (evt) =>{
		hideRows();
		let tab = document.querySelectorAll('.fsa-content-tabs__label--active')[0];
		showRow(tab,'draft');
	});
	function hideRows(){
		let rows = document.querySelectorAll('[data-ldp-status]');
		rows.forEach( (item) => {
			item.style.display = "none";
		})
	}
	function showRow(selectedTab, str){
		// reset tabs to active row
		let tabs = document.querySelectorAll('.fsa-content-tabs__label')
		tabs.forEach( (item) => {
			
			if(item == selectedTab){
				console.log('true')
				console.log('x',selectedTab)
				console.log('y',item)
				selectedTab.classList.add('fsa-content-tabs__label--active')
			} else {
				item.classList.remove('fsa-content-tabs__label--active');
			}
		})

		// hide all rows
		hideRows();

		// show selected rows
		let rows = document.querySelectorAll('[data-ldp-status="'+str+'"]');
		rows.forEach( (item) => {
			item.style.display = "";
		})
	}

	function serviceLDP(ldpNumber, name){
		//Store.actions.setPrimaryContact(name);
		Store.actions.setAppNumber(ldpNumber);
		Router.to('details_ext_')
	}

	function reviewLDP(ldpNumber, name){
		Store.actions.setAppNumber(ldpNumber);
		Router.to('review_ext_')
	}
</script>
<!-- /page-level scripts -->
{{/inline}}


{{/../layouts/base }}