{{#> ../layouts/base TITLE='LDP - Applications' NAV_USER_COU=true NAV3_ACTIVE=true BASE_ROOT='../../' }}

{{#*inline "main-block"}}

<div class="fsa-section">
	<div class="fsa-section__bd">

		<h1>Second Party Review</h1>


    <div id="review-box-1" class="fsa-m-t--m fsa-box fsa-box--bg-0 fsa-box--bw-0">

      <ul class="fsa-level fsa-level--justify-between fsa-level--align-stretch fsa-level--grow-even">
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">LDP Number</div>
          <div class="fsa-text-size--4">
            <strong>553299</strong>
          </div>
        </li>
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">Primary Contact</div>
          <div class="fsa-text-size--4">
            <div title="Johnson County, Missouri">FRANKLIN FRANK, T</div>
          </div>
        </li>
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">Commodity</div>
          <div class="fsa-text-size--4">Oats</div>
        </li>
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">LDP Type</div>
          <div class="fsa-text-size--4">Sold/Fed/Delivered</div>
        </li>
      </ul>
      <ul class="fsa-m-t--m fsa-level fsa-level--justify-between fsa-level--align-stretch fsa-level--grow-even">
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">Status</div>
          <div class="fsa-text-size--4">
            <span class="fsa-label fsa-label--large fsa-label--neutral">Pending Review</span>
          </div>
        </li>
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">Request Date</div>
          <div class="fsa-text-size--4">
            <div title="Johnson County, Missouri">02/15/2020</div>
          </div>
        </li>
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">Total Quantity</div>
          <div class="fsa-text-size--4">693,012 BU</div>
        </li>
        <li class="fsa-box fsa-box--bw-0 fsa-box--br-2 fsa-p--s">
          <div class="fsa-text--h6">Total Disbursement</div>
          <div class="fsa-text-size--4"><span class="fsa-label fsa-label--large fsa-label--success"><strong>$6,902.93</strong></span></div>
        </li>
      </ul>

      <span class="fsa-m-t--m fsa-level fsa-level--justify-right">
        <span class="fsa-level fsa-level--inline">
          <label for="UNIQUE-ID-box1">Reviewed</label>
          <label class="fsa-switch">
            <input type="checkbox" onchange="toggleReview('review-box-1', this)" class="fsa-switch__checkbox" id="UNIQUE-ID-box1" name="UNIQUE-ID-box1">
            <span class="fsa-switch__track"></span>
          </label>
        </span>
        <!--
        <span class="">
          <button class="fsa-btn fsa-btn--secondary fsa-btn--small">Edit</button>
        </span>
        -->
      </span>

    </div>


    <div id="review-box-2" class="fsa-m-t--m fsa-box fsa-box--bg-0 fsa-box--bw-0">

      <div class="fsa-m-t--m fsa-grid">
        <div class="fsa-grid__1/1 fsa-grid__1/3@m">
          <p class="fsa-text-size--3">Producer Name: <strong><span class="fsa-text-allcaps">FRANKLIN FRANK, T</span></strong></p>
          <p class="fsa-text-size--3">Email: <strong><span class="fsa-text-allcaps">farmerfranky@yahoo.com</span></strong></p>
          <p class="fsa-text-size--3">Reference Info: Storage pending hold summary</p>
        </div>
        <div class="fsa-grid__1/1 fsa-grid__1/3@m">
          <p class="fsa-text-size--3">Address: <strong><span class="fsa-text-allcaps">1122 W 398 Hwy</span></strong></p>
          <p class="fsa-text-size--3">City: <strong><span class="fsa-text-allcaps">Tecumseh</span></strong> &nbsp; State: <strong><span class="fsa-text-allcaps">CA</span></strong></p>
          <p class="fsa-text-size--3">Zip: <strong><span class="fsa-text-allcaps">90210</span></strong></p>
        </div>
        <div class="fsa-grid__1/1 fsa-grid__1/3@m">
          <p class="fsa-text-size--3">Crop Year: <strong><span class="fsa-text-allcaps">2020</span></strong></p>
          <p class="fsa-text-size--3">Commodity: <strong><span class="fsa-text-allcaps">Oats</span></strong></p>
          <p class="fsa-text-size--3">Class: <strong><span class="fsa-text-allcaps">Oats (with Hull)</span></strong></p>
        </div>
      </div>

    <span class="fsa-m-t--m fsa-level fsa-level--justify-right">
        <span class="fsa-level fsa-level--inline">
          <label for="UNIQUE-ID-box1">Reviewed</label>
          <label class="fsa-switch">
            <input type="checkbox" onchange="toggleReview('review-box-2', this)" class="fsa-switch__checkbox" id="UNIQUE-ID-box1" name="UNIQUE-ID-box1">
            <span class="fsa-switch__track"></span>
          </label>
        </span>
        <span class="">
          <button onclick="Router.to('../applications/select-commodity_ext_')" class="fsa-btn fsa-btn--secondary fsa-btn--small">Edit</button>
        </span>
      </span>

    </div>

    <div id="review-box-3" class="fsa-m-t--m fsa-box fsa-box--bg-0 fsa-box--bw-0">

      <div class="fsa-m-t--m">

        <table class="fsa-table fsa-table--borderless">
          <caption>Storage Details</caption>
          <thead>
            <tr>
              <th scope="col" class="fsa-text-align--right">State</th>
              <th scope="col" class="fsa-text-align--right">County</th>
              <th scope="col" class="fsa-text-align--right">Requested Quantity</th>
              <th scope="col" class="fsa-text-align--right">Excess Moisture Adjustment</th>
              <th scope="col" class="fsa-text-align--right">Net Requested Quantity</th>
              <th scope="col" class="fsa-text-align--right">LDP Rate</th>
              <th scope="col" class="fsa-text-align--right">Payment Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fsa-text-align--right">MA</td>
              <td class="fsa-text-align--right">Northumberland</td>
              <td class="fsa-text-align--right">2,420.17 BU</td>
              <td class="fsa-text-align--right">N/A</td>
              <td class="fsa-text-align--right">2,000.00 BU</td>
              <td class="fsa-text-align--right">1.02</td>
              <td class="fsa-text-align--right">$2,040.00</td>
             
            </tr>
            <tr>
              <td class="fsa-text-align--right">MA</td>
              <td class="fsa-text-align--right">Northumberland</td>
              <td class="fsa-text-align--right">2,420.17 BU</td>
              <td class="fsa-text-align--right">N/A</td>
              <td class="fsa-text-align--right">2,000.00 BU</td>
              <td class="fsa-text-align--right">1.02</td>
              <td class="fsa-text-align--right">$2,040.00</td>
            </tr>

          </tbody>
        </table>
      </div>

    <span class="fsa-m-t--m fsa-level fsa-level--justify-right">
        <span class="fsa-level fsa-level--inline">
          <label for="UNIQUE-ID-box1">Reviewed</label>
          <label class="fsa-switch">
            <input type="checkbox" onchange="toggleReview('review-box-3', this)" class="fsa-switch__checkbox" id="UNIQUE-ID-box1" name="UNIQUE-ID-box1">
            <span class="fsa-switch__track"></span>
          </label>
        </span>
        <!--
        <span class="">
          <button class="fsa-btn fsa-btn--secondary fsa-btn--small">Edit</button>
        </span>
        -->
      </span>

    </div>

		<div class="fsa-m-t--m fsa-level">
      <button id="certify-review" role="button" type="button" aria-behavior="modal-show" data-behavior="open-modal"
        aria-controls="modal__review-certify" aria-expanded="false" class="fsa-btn fsa-btn--secondary" type="button">
				Complete Review 
			</button>
			<button onclick="Router.to('index_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				Withdraw LDP 
			</button>
		</div>


	</div>
</div>



{{/inline}}

{{#*inline "hidden-block"}}
<!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
{{> ../components/modal/modal-certify-review BASE_ROOT="../../" }}
<!-- /HIDDEN -->
{{/inline}}


{{#*inline "scripts-block"}}
<!-- page-level scripts -->
<script>
  let approvalCount = 0;
  window.addEventListener("load", (evt) => {
		disableButton('certify-review');

    Store.actions.setPrimaryContact('FRANKLIN FRANK, T')
    Store.actions.setCommodity('Oats');
    Store.actions.setCommodityClass('Oats (with Hull)')
    
	});

	function setApplication(name, ldpNumber){
		//Store.actions.setPrimaryContact(name);
		Store.actions.setAppNumber(ldpNumber);
	}

  function toggleReview(id, cb){
    console.log('cb',cb.checked)
    if(cb.checked){
      approvalCount++;
      document.getElementById(id).classList.add('fsa-box--bg-2', 'fsa-box--bw-3')
      document.getElementById(id).classList.remove('fsa-box--bg-0', 'fsa-box--bw-0')
    } else {
      approvalCount--;
      document.getElementById(id).classList.add('fsa-box--bg-0', 'fsa-box--bw-0')
      document.getElementById(id).classList.remove('fsa-box--bg-2', 'fsa-box--bw-3')
    }
    if(approvalCount>=3) enableButton('certify-review')
    else disableButton('certify-review')
  }
</script>
<!-- /page-level scripts -->
{{/inline}}


{{/../layouts/base }}