{{#> ../layouts/base TITLE='LDP - Home' NAV_USER_COU=true NAV1_ACTIVE=true BASE_ROOT='../' }}

{{#*inline "main-block"}}

<div class="fsa-section">
	<div class="fsa-section__bd">

		<h1>Dashboard</h1>

		{{> ../includes/application-data STATUS='' COMMODITY='' }}

		<div class="fsa-m-t--l">

			<button onclick="Router.to('cs-search_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				Set County &amp; State
			</button>

			<button onclick="Router.to('applications/index_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				View Applications
			</button>

			<button disabled="disabled" onclick="Router.to('agreements/index_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				View Agreements
			</button>

		</div>

	</div>
</div>


{{/inline}}


{{/../layouts/base }}