{{#> ../layouts/base TITLE='LDP - Applications' NAV_USER_COU=true NAV2_ACTIVE=true BASE_ROOT='../' }}

{{#*inline "main-block"}}

<div class="fsa-section">
	<div class="fsa-section__bd">

		<h1>Producer Dashboard</h1>

<!--
    <div class="fsa-m-t--s">
      <span class="fsa-text-size--3">
        Producer: <strong><span class="fsa-text-allcaps">SMITH, JOHN A</span></strong>
      </span>
    </div>
    -->

    
    <div class="fsa-m-t--s fsa-content-tabs">
      <ul class="fsa-content-tabs__list">
        <li class="fsa-content-tabs__item">
          <a role="button" class="fsa-content-tabs__label fsa-content-tabs__label--active" href="">
            <span class="fsa-content-tabs__label-text">Applications</span>
          </a>
        </li>
        <li class="fsa-content-tabs__item">
          <a role="button" onclick="Router.to('producer-dashboard-agreement_ext_'); return false;" class="fsa-content-tabs__label" aria-current="step" href="">
            <span class="fsa-content-tabs__label-text">Agreement</span>
          </a>
        </li>
      </ul>
      <div class="fsa-content-tabs__aside">
        <span class="fsa-text-size--4">
          Producer: <strong><span class="fsa-text-allcaps">SMITH, JOHN A</span></strong>
        </span>
      </div>
    </div>


		{{> ../includes/crop-state-county-selection	}}

		<table class="fsa-table fsa-table--borderless">
			<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
			<thead>
				<tr>
					<th scope="col">Select</th>
					<th scope="col"><button class="fsa-table__sort" type="button">LDP Number</button></th>
					<th scope="col" class="fsa-text-align--right">Primary Contact</th>
					<th scope="col" class="fsa-text-align--right">Commodity</th>
					<th scope="col" class="fsa-text-align--right">LDP Type</th>
					<th scope="col" class="fsa-text-align--right">Date</th>
					<th scope="col" class="fsa-text-align--right">Status</th>
					<th scope="col" class="fsa-text-align--right">Qty</th>
					<th scope="col" class="fsa-text-align--right">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span>
							<input onclick="setApplication('DAVID D DAVISON', 542943)" class="fsa-radio" id="r1" type="radio" name="group1" value="1">
							<label for="r1"></label>
						</span>
					</td>
					<td class="fsa-text-align--right">542943</td>
					<td class="fsa-text-align--right">DAVID D DAVISON</td>
					<td class="fsa-text-align--right">Corn</td>
					<td class="fsa-text-align--right">Sold/Fed/Delivered</td>
					<td class="fsa-text-align--right">05/01/2020</td>
					<td class="fsa-text-align--right">DISBURSED</td>
					<td class="fsa-text-align--right">223 BU</td>
					<td class="fsa-text-align--right">$432.78</td>
				</tr>
				<tr>
					<td>
						<span>
							<input onclick="setApplication('JEREMY T WILSON', 593827)" class="fsa-radio" id="r2" type="radio" name="group1" value="2">
							<label for="r2"></label>
						</span>
					</td>
					<td class="fsa-text-align--right">593827</td>
					<td class="fsa-text-align--right">JEREMY T WILSON</td>
					<td class="fsa-text-align--right">Flax</td>
					<td class="fsa-text-align--right">Farm Stored</td>
					<td class="fsa-text-align--right">8/15/2020</td>
					<td class="fsa-text-align--right">DISBURSED</td>
					<td class="fsa-text-align--right">487 BU</td>
					<td class="fsa-text-align--right">$1,290.45</td>
				</tr>
			</tbody>
		</table>

		<div class="fsa-m-t--m">
			<button onclick="Router.to('./applications/select-producer_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				Select Application
			</button>
			<button disabled="disabled" onclick="Router.to('./applications/new-application_ext_')" class="fsa-btn fsa-btn--secondary" type="button">
				New Application
			</button>
		</div>


	</div>
</div>


{{/inline}}

{{#*inline "scripts-block"}}
<!-- page-level scripts -->
<script>
	function setApplication(name, ldpNumber){
		//Store.actions.setPrimaryContact(name);
		Store.actions.setAppNumber(ldpNumber);
	}
</script>
<!-- /page-level scripts -->
{{/inline}}


{{/../layouts/base }}