<div class="fsa-nav-global__search">
	<form action="index_ext_" id="searchForm">
		<div class="fsa-search" role="search">
			<div class="fsa-search__bd">
				<div class="fsa-search__entry fsa-search__entry--grow">
					<!--<label class="fsa-search__label fsa-search__label--sr-only" for="UNIQUE-ID-yughsjj6j">Search for Application</label>-->
					<input class="fsa-input fsa-search__input" id="UNIQUE-ID-yughsjj6j" type="search" name="search">
				</div>
				<div class="fsa-search__submit">
					<button class="fsa-btn fsa-search__btn" type="submit">
						<span class="fsa-search__text">Search</span>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>